package {{ .PackageName }}

{{- if .HasCLI }}
import (
"flag"
"fmt"
)
{{- end }}

// // // // // // // // // //

type hjsonParserObj struct{}

func (hjsonParserObj) Name() string { return "hjson" }
func (hjsonParserObj) IsFile() bool { return true }
func (hjsonParserObj) IsCLI() bool { return false }
func (hjsonParserObj) IsRender() bool { return {{ boolLiteral .HasRender }} }
func (hjsonParserObj) IsPreset() bool { return {{ boolLiteral .HasPresets }} }
func (hjsonParserObj) FileExtArr() []string { return []string{".hjson"} }
func (parserObj hjsonParserObj) IsFileMatch(pathText string) bool { return matchParserExt(parserObj, pathText) }
func (hjsonParserObj) Parse(dataArr []byte) (*ConfigObj, error) { return parseConfigHJSON(dataArr, true) }

{{- if .HasCLI }}
func (hjsonParserObj) RegisterFlags(flagSet *flag.FlagSet) {}
func (hjsonParserObj) ApplyFlags(obj *ConfigObj) error { return fmt.Errorf("parser [hjson] does not apply cli flags") }
func (hjsonParserObj) HelpText() string { return "" }
{{- end }}

{{- if .HasRender }}
func (hjsonParserObj) Render(obj *ConfigObj) ([]byte, error) { return renderConfigHJSON(obj, false) }
func (hjsonParserObj) RenderPresent(obj *ConfigObj) ([]byte, error) { return renderConfigHJSON(obj, true) }
{{- end }}
{{- if .HasPresets }}
func (hjsonParserObj) FullPreset() []byte { return FullHJSON() }
func (hjsonParserObj) MinimalPreset() []byte { return MinimalHJSON() }
func (hjsonParserObj) MediumPreset() []byte { return MediumHJSON() }
func (hjsonParserObj) HasFull() bool { return true }
func (hjsonParserObj) HasMinimal() bool { return HasMinimal() }
func (hjsonParserObj) HasMedium() bool { return HasMedium() }
{{- end }}
