package {{ .PackageName }}

{{- if .HasCLI }}
import (
"flag"
"fmt"
)
{{- end }}

// // // // // // // // // //

type jsonParserObj struct{}

func (jsonParserObj) Name() string { return "json" }
func (jsonParserObj) IsFile() bool { return true }
func (jsonParserObj) IsCLI() bool { return false }
func (jsonParserObj) IsRender() bool { return {{ boolLiteral .HasRender }} }
func (jsonParserObj) IsPreset() bool { return {{ boolLiteral .HasPresets }} }
func (jsonParserObj) FileExtArr() []string { return []string{".json"} }
func (parserObj jsonParserObj) IsFileMatch(pathText string) bool { return matchParserExt(parserObj, pathText) }
func (jsonParserObj) Parse(dataArr []byte) (*ConfigObj, error) { return parseConfigJSON(dataArr, true) }

{{- if .HasCLI }}
func (jsonParserObj) RegisterFlags(flagSet *flag.FlagSet) {}
func (jsonParserObj) ApplyFlags(obj *ConfigObj) error { return fmt.Errorf("parser [json] does not apply cli flags") }
func (jsonParserObj) HelpText() string { return "" }
{{- end }}

{{- if .HasRender }}
func (jsonParserObj) Render(obj *ConfigObj) ([]byte, error) { return renderConfigJSON(obj, false) }
func (jsonParserObj) RenderPresent(obj *ConfigObj) ([]byte, error) { return renderConfigJSON(obj, true) }
{{- end }}
{{- if .HasPresets }}
func (jsonParserObj) FullPreset() []byte { return FullJSON() }
func (jsonParserObj) MinimalPreset() []byte { return MinimalJSON() }
func (jsonParserObj) MediumPreset() []byte { return MediumJSON() }
func (jsonParserObj) HasFull() bool { return true }
func (jsonParserObj) HasMinimal() bool { return HasMinimal() }
func (jsonParserObj) HasMedium() bool { return HasMedium() }
{{- end }}
