package {{ .PackageName }}

{{- if .HasCLI }}
import (
"flag"
"fmt"
)
{{- end }}

// // // // // // // // // //

type yamlParserObj struct{}

func (yamlParserObj) Name() string { return "yaml" }
func (yamlParserObj) IsFile() bool { return true }
func (yamlParserObj) IsCLI() bool { return false }
func (yamlParserObj) IsRender() bool { return {{ boolLiteral .HasRender }} }
func (yamlParserObj) IsPreset() bool { return {{ boolLiteral .HasPresets }} }
func (yamlParserObj) FileExtArr() []string { return []string{".yaml", ".yml"} }
func (parserObj yamlParserObj) IsFileMatch(pathText string) bool { return matchParserExt(parserObj, pathText) }
func (yamlParserObj) Parse(dataArr []byte) (*ConfigObj, error) { return parseConfigYAML(dataArr, true) }

{{- if .HasCLI }}
func (yamlParserObj) RegisterFlags(flagSet *flag.FlagSet) {}
func (yamlParserObj) ApplyFlags(obj *ConfigObj) error { return fmt.Errorf("parser [yaml] does not apply cli flags") }
func (yamlParserObj) HelpText() string { return "" }
{{- end }}

{{- if .HasRender }}
func (yamlParserObj) Render(obj *ConfigObj) ([]byte, error) { return renderConfigYAML(obj, false) }
func (yamlParserObj) RenderPresent(obj *ConfigObj) ([]byte, error) { return renderConfigYAML(obj, true) }
{{- end }}
{{- if .HasPresets }}
func (yamlParserObj) FullPreset() []byte { return FullYAML() }
func (yamlParserObj) MinimalPreset() []byte { return MinimalYAML() }
func (yamlParserObj) MediumPreset() []byte { return MediumYAML() }
func (yamlParserObj) HasFull() bool { return true }
func (yamlParserObj) HasMinimal() bool { return HasMinimal() }
func (yamlParserObj) HasMedium() bool { return HasMedium() }
{{- end }}
