package {{ .PackageName }}

import (
{{- range .ValidateImportTextArr }}
{{ importLine . }}
{{- end }}
)

// // // // // // // // // //

func (obj *ConfigObj) Validate() error {
if obj == nil {
return fmt.Errorf("config is nil")
}
for _, fieldMeta := range cFieldMetaArr {
if fieldMeta.Validator == nil {
continue
}
if err := fieldMeta.Validator(obj); err != nil {
return err
}
}
return nil
}
